
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-linebreak {
  white-space: pre-line;
}


.custom-class-main-column {
  width: 66%;
}

.custom-class-side-column {
  width: 33%;
}


/* hide optional side column on small screens: */
@media only screen and (max-width: 1020px) {
  .custom-class-main-column {
    width: 100%;
  }
  
  .custom-class-side-column {
    display: none;
  }
}

.custom-class-main-wrapper {
  margin:auto;
  background: white;
}

.limit-animation-count {
  animation-iteration-count: 20;
  animation-fill-mode:forwards;
}


.nice-tab {
  margin: 8px 8px 8px 8px;
	border: 1px solid #DAE0E8;
  background: #F9F9F9;
	border-radius: 8px;
  height: 45px;
  padding: 10px;
}

.nice-tab:hover {
  background: #efefef;
}

.nice-tab-selected {
	border: 1px solid #494949;
  background: #525252;
  cursor: default;
  color: #DDD;
}


.nice-tab-selected:hover {
  background: #525252;
}

.pop-up-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #CCCC;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90000;
}

.pop-up {
  width: 95vw;
  max-width: 560px;
  border: 0px solid black;
  background: white;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 4px;
}


li{
  margin: 12px 0;
}
